---
---

<nav id="navbar">
  <a href="#hero" class="nav-logo">Sea Love View</a>
  <ul class="nav-links">
    <li><a href="#overview">El Apartamento</a></li>
    <li><a href="#rooms">Habitaciones</a></li>
    <li><a href="#gallery">Galería</a></li>
    <li><a href="#activities">Actividades</a></li>
    <li><a href="#hosts">Anfitriones</a></li>
    <li><a href="#booking" class="nav-cta">Reservar</a></li>
  </ul>
  <div class="nav-hamburger">
    <span></span><span></span><span></span>
  </div>
</nav>
