---
---

<section id="rooms">
  <div class="container">
    <div class="fade-in">
      <span class="section-label">Habitaciones</span>
      <h2 class="section-title">Descanso con estilo</h2>
      <div class="divider"></div>
    </div>
    <div class="rooms-grid">
      <div class="room-card fade-in">
        <img class="room-img" src="/sealoveviewapartment/img/img_bedroom_main.png" alt="Habitación Principal" loading="lazy">
        <div class="room-body">
          <span class="room-tag">Habitación Principal</span>
          <h3 class="room-title">Suite con vista al mar</h3>
          <ul class="amenity-list">
            <li>Cama Queen size</li>
            <li>Baño privado</li>
            <li>Aire acondicionado</li>
            <li>Televisor</li>
            <li>Wifi incluido</li>
            <li>Armario</li>
            <li>Toallas y amenidades</li>
            <li>Colchón premium</li>
          </ul>
        </div>
      </div>
      <div class="room-card fade-in">
        <img class="room-img" src="/sealoveviewapartment/img/img_bedroom_social.png" alt="Habitación Social" loading="lazy">
        <div class="room-body">
          <span class="room-tag">Habitación Social</span>
          <h3 class="room-title">Perfecta para grupos</h3>
          <ul class="amenity-list">
            <li>2 camas individuales</li>
            <li>Cama nido auxiliar</li>
            <li>Aire acondicionado</li>
            <li>Televisor</li>
            <li>Wifi incluido</li>
            <li>Armario</li>
            <li>Baño social cercano</li>
            <li>Toallas y amenidades</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
